.bg-dark {
  background: black;
}
.bg-pink-n {
  background: linear-gradient(45deg, #ff9a9e, #fad0c4);
}
.bg-pink-d {
  background: url("https://i.imgur.com/Hm5csGs.jpeg"), url("pink-day.jpeg");
}
.bg-pink-d .textbox {
  background-color: rgba(0, 0, 0, 0.549);
}
.bg-blue {
  background: url("https://i.imgur.com/phsw8LS.jpg"), url("./blue.jpg");
}
.bg-light {
  background: #eee;
  color: #222;
}
.bg-light .textbox {
  color: black;
  background-color: rgba(1,1,1,0.1);
}
.bg-sky {
  background: url("https://i.imgur.com/1JMKidV.jpeg"), url("./sky.jpg");
}
.bg-image {
  background: url("./image.jpg");
}
.bg-watermelon {
  background: url("https://i.imgur.com/IMvmQMM.jpeg"), url("./watermelon.jpg");
}
.bg-purple-n {
  background: url("https://i.imgur.com/5rc48sA.jpeg"),
    url("./purple-night.jpeg");
}
.bg-purple-d {
  background: url("https://i.imgur.com/9UqVKMf.jpeg"), url("./purple-day.jpeg");
}
