@font-face {
  font-family: 'ReadexPro';
  src: url('./ReadexPro.ttf');
  font-style: normal;
	font-weight: 300 700;
	font-stretch: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  text-wrap: pretty;
}

.image {
  background: url('./image.jpg');
}

.sky {
  background: url('./sky.jpg');
}

.watermelon {
  background: url('./watermelon.jpg');
}

.bpattern {
  background: url('./black-pattern.jpg');
}

.no-bg {
  background-color: transparent !important;
}

.semi-bg-b {
  background-color: rgba(22,22,22,0.75) !important;
  color: white !important;
}

.semi-bg-w {
  background-color: rgba(222,222,222,0.55) !important;
  color: black !important;
}

.yellow-1 {
  background-color: #d7cc91 !important;
  color: #5c5014 !important;
}

.yellow-2 {
  background-color: #5c5014 !important;
  color: #ffeb8a !important;
}

.red-1 {
  background-color: #f3a0b0 !important;
  color: black !important;
}

.red-2 {
  color: pink !important;
  background-color: #333 !important;
}

.purple-1 {
  background: linear-gradient(#4f26a2, #8758e3) !important;
  color: white !important;
}

.purple-2 {
  background-color: #caafff !important;
  color: #4f26a2 !important;
}

.black {
  background-color: black !important;
  color: white !important;
}

.white {
  background-color: white !important;
  color: black !important;
}

.bordered {
  border: 3px solid white !important;
}