* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  margin: 0;
  background: black;
  padding: 20px;
}
.container {
  height: 90dvh;
  min-height: 550px;
  width: auto;
  aspect-ratio: 9 / 16;
  background: white;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  background-position: center !important;
  background-size: cover !important;
  object-fit: cover !important;
}

.textbox {
  backdrop-filter: blur(3px);
  direction: rtl;
  padding: 10px 22px !important;
  text-align: center;
  position: absolute;
  background: rgba(0, 0, 0, 0.33);
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: grab;
  width: fit-content;
  max-width: 90% !important;
  min-height: 20px;
  font-family: "Rubik", sans-serif;
}


#bgMovable {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: grab;
  user-select: none;
  border-radius: 12px;
}
#bgMovable:active {
  cursor: grabbing;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: pretty;
  line-height: 1.5;
}

.bg-light .textbox {
  color: black;
  background-color: transparent;
}
.bg-pink-d .textbox {
  background-color: rgba(0, 0, 0, 0.55);
}