@font-face {
  font-family: 'ReadexPro';
  src: url('./ReadexPro.ttf');
  font-style: normal;
	font-weight: 300 700;
	font-stretch: 100%;
}

@font-face {
  font-family: 'Rubik';
  src: url('./Rubik.ttf');
  font-style: normal;
  font-weight: 300 700;
}

.font-family-btn {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.font-dropdown {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: none;
  flex-direction: column;
  border-radius: 8px;
  z-index: 100;
}

.font-dropdown button {
  background: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: 16px;
  width: 100%;
  max-height: 50px;
  transition: background 0.3s ease;
  border-bottom: 1px solid rgba(222, 222, 222, 0.6);
}

.font-dropdown button:last-child {
  border: 0;
}

.font-dropdown button:hover {
  background: rgba(255, 255, 255, 0.2);
}