.bg-dark {
  background: url('../images/black.jpeg');
}
.bg-pink-n {
  background: linear-gradient(45deg, #ff9a9e, #fad0c4);
}
.bg-pink-d {
  /*  url("https://i.imgur.com/Hm5csGs.jpeg"), */
  background: url("../images/pink-day.jpeg");
}
.bg-pink-d .textbox {
  background-color: rgba(0, 0, 0, 0.549);
}
.bg-blue {
  /* url("https://i.imgur.com/Zb5P7ro.jpg"),  */
  background: url("../images/blue.jpeg");
}
.bg-light {
  background: #eee;
  color: #222;
}
.bg-light .textbox {
  color: black;
  background-color: rgba(1,1,1,0.1);
}
.bg-sky {
  /*  */
  background:  url("../images/sky.jpg");
}
.bg-image {
  background: url("../images/image.jpg"), url('../images/image.png');
}
.bg-watermelon {
  /*  url("https://i.imgur.com/IMvmQMM.jpeg"), */
  background: url("../images/watermelon.jpg");
}
.bg-purple-n {
  /* url("https://i.imgur.com/5rc48sA.jpeg"), */
  background: url("../images/purple-night.jpeg");
}
.bg-purple-d {
  /* url("https://i.imgur.com/9UqVKMf.jpeg"), */
  background:  url("../images/purple-day.jpeg");
}
.bg-red-black {
  /*  url('https://i.imgur.com/u5Qrp7p.jpeg'), */
  background: url('../images/red-black.jpg');
}
.bg-red-black .textbox {
  background-color: #e3e3e3;
  color: #242424;
}
.bg-blue-purple {
  /* url('https://i.imgur.com/4MuSNiv.jpg'),  */
  background: url('../images/blue-purple.jpeg');
}
.bg-blue-purple .textbox {
  background-color: rgba(0,0,0,0.5);
}
.bg-honey {
  /* url('https://i.imgur.com/Nx85hP6.jpg'), */
  background:  url('../images/honey.jpeg');
}
.bg-honey .textbox {
  background-color: rgba(0,0,0,0.7);
}
.bg-orange {
  background: url('../images/orange.jpg');
}
.bg-orange .textbox {
  background-color: #ffc786;
  color: black;
}