@font-face {
  font-family: "ReadexPro";
  src: url("../fonts/ReadexPro.ttf");
  font-style: normal;
  font-weight: 300 700;
  font-stretch: 100%;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik.ttf");
  font-style: normal;
  font-weight: 300 700;
}
